## **Parts of Speech Tagging**

In [ ]:
import nltk
from nltk import word_tokenize

In [5]:
text = "The sun peeked through the clouds, painting the sky in hues of pink and orange. A gentle breeze whispered through the trees, carrying the scent of fresh flowers."

In [8]:
tokenized_words = word_tokenize(text)
print(tokenized_words)

['The', 'sun', 'peeked', 'through', 'the', 'clouds', ',', 'painting', 'the', 'sky', 'in', 'hues', 'of', 'pink', 'and', 'orange', '.', 'A', 'gentle', 'breeze', 'whispered', 'through', 'the', 'trees', ',', 'carrying', 'the', 'scent', 'of', 'fresh', 'flowers', '.']

In [23]:
from string import punctuation
cleaned_words = [word for word in tokenized_words if word not in punctuation]
print(cleaned_words)

['The', 'sun', 'peeked', 'through', 'the', 'clouds', 'painting', 'the', 'sky', 'in', 'hues', 'of', 'pink', 'and', 'orange', 'A', 'gentle', 'breeze', 'whispered', 'through', 'the', 'trees', 'carrying', 'the', 'scent', 'of', 'fresh', 'flowers']

In [26]:
from nltk import pos_tag
pos_tagged_words = pos_tag(cleaned_words)
pos_tagged_words

[('The', 'DT'),
 ('sun', 'NN'),
 ('peeked', 'VBD'),
 ('through', 'IN'),
 ('the', 'DT'),
 ('clouds', 'NNS'),
 ('painting', 'VBG'),
 ('the', 'DT'),
 ('sky', 'NN'),
 ('in', 'IN'),
 ('hues', 'NNS'),
 ('of', 'IN'),
 ('pink', 'NN'),
 ('and', 'CC'),
 ('orange', 'NN'),
 ('A', 'NNP'),
 ('gentle', 'NN'),
 ('breeze', 'NN'),
 ('whispered', 'VBD'),
 ('through', 'IN'),
 ('the', 'DT'),
 ('trees', 'NNS'),
 ('carrying', 'VBG'),
 ('the', 'DT'),
 ('scent', 'NN'),
 ('of', 'IN'),
 ('fresh', 'JJ'),
 ('flowers', 'NNS')]

In [66]:
nltk.help.upenn_tagset('JJ')

JJ: adjective or numeral, ordinal
    third ill-mannered pre-war regrettable oiled calamitous first separable
    ectoplasmic battery-powered participatory fourth still-to-be-named
    multilingual multi-disciplinary ...

In [61]:
import pandas as pd
descs = []
PoSs = []
for tup in pos_tagged_words:
    word = tup[0]
    pos = tup[1]
    PoSs.append(pos)
df = pd.DataFrame({
    'Word': cleaned_words,
    'Parts of Speech': PoSs,
}) 
df

         Word Parts of Speech
0         The              DT
1         sun              NN
2      peeked             VBD
3     through              IN
4         the              DT
5      clouds             NNS
6    painting             VBG
7         the              DT
8         sky              NN
9          in              IN
10       hues             NNS
11         of              IN
12       pink              NN
13        and              CC
14     orange              NN
15          A             NNP
16     gentle              NN
17     breeze              NN
18  whispered             VBD
19    through              IN
20        the              DT
21      trees             NNS
22   carrying             VBG
23        the              DT
24      scent              NN
25         of              IN
26      fresh              JJ
27    flowers             NNS

In [67]:
nltk.help.upenn_tagset('IN')

IN: preposition or conjunction, subordinating
    astride among uppon whether out inside pro despite on by throughout
    below within for towards near behind atop around if like until below
    next into if beside ...

In [69]:
nouns = df[df['Parts of Speech'] == 'NN']
nouns

      Word Parts of Speech
1      sun              NN
8      sky              NN
12    pink              NN
14  orange              NN
16  gentle              NN
17  breeze              NN
24   scent              NN